#can1{border:red double 10px;}

#but1{position:absolute;left:850px;top:50px;border:green solid 5px;}
#but2{position:absolute;left:850px;top:100px;border:green solid 5px;}
#text1{position:absolute;left:850px;top:150px;border:green solid 5px;}